.banner {
    /* background-image: url('/AboutHeroPicture.jpeg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 275px;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
    z-index: 0;
}

.banner > * {
    z-index: 10;
    position: relative;
}